<html>
<body>
	<h1 style="color: green;">Bom seja bem vindo ao NoSqlApp</h1>
	<h2 style="color: blue;">O lugar certo para cadastrar aulas!</h2>
	<h1>
		<li>Link (URL) do REST: http://localhost:8080/nosqlapp/rest/aulas/1</li>
		Ir para o serviço REST: <a href="/nosqlapp/rest/aulas/1">Aulas</a>
		<li>Link (URL) do SOA: http://localhost:8080/nosqlapp/AulaWS?wsdl</li>
		Ir para o serviço SOA: <a href="http://localhost:8080/nosqlapp/AulaWS?wsdl">Aulas</a>
		<li>Link (URL) do Teste: http://localhost:8080/nosqlapp/rest/teste/aula/1</li>
		Ir para o teste REST: <a href="/nosqlapp/rest/teste/aula/1">Teste</a>
	</h1>
</body>
</html>